header {
    color: rgb(122, 3, 3);
    background-color: rgb(237, 163, 163);
    padding: 20px;
    border-radius: 5px;
}
.container {
    display: flex;
    justify-content: space-evenly;

}
.table {
    text-align: left;
    width: 100%;
    border: 1px solid #ffffff; /* Add a border around the table */
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000; /* Add a border around table cells */
    padding: 8px; /* Add padding to table cells */
}
th, td {
    border: 1px solid #000; /* Add a border around table cells */
    padding: 6px; /* Add padding to table cells */
    
}
img {
    width: 300px;
    height: 300px;
    border: 1px solid;
}
.mid {
    border: 1px solid #000;
}